<div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>



<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="/images/filters-icon.png" width="50" height="50" class="d-inline-block align-top " alt="">
    FYN
  </a>

  <form class="form-inline">
    <button class="btn btn-outline-info mr-3" type="button"><a href="/articles">Profile</a></button>
    <button class="btn btn-outline-info" type="button"><a href="/logout">Log out</a></button>
  </form>
</nav>
{{!--<div class="container ml-3 mt-5 ">
  <div class="editContainer">
    --}}
    <div class="edit-profile-containers">
      <h2>Your categories</h2>
      <p>If you want to delete a category click on it</p>
      <div class="tag-cloud">
        {{#each categories}}
        <div class="pref-box">
          <span class="pref">{{this}}</span>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="edit-profile-containers">
      <p style="font-size: 25px;" class="font-weight-bold">Add category</p>
      <p> Add a category by typing it and press ENTER</p>
      <input class="form-control mr-sm-2 mb-2 w-25" type="text" name="categories" id="categories"
        placeholder="Add categories..." onkeyup="handleChange()">
    </div>
  </div>
</div>
</div>





<script>
  document.querySelector('#categories').onkeyup = function (e) {
    if (e.keyCode == 13) {
      let newTag = document.createElement('span')
      newTag.className = 'pref';
      newTag.innerHTML = document.querySelector('#categories').value;
      newTag.addEventListener('click', () => {
        console.log(newTag.innerHTML)
        newTag.parentNode.removeChild(newTag);
        axios.post('/edit/removeTag', { categories: newTag.innerHTML }).then(response => {
          console.log(response.data)
        }).catch(err => console.log(err))
      })
      let parent = document.querySelector(".tag-cloud")
      parent.appendChild(newTag);
      document.querySelector('#categories').value = '';
      //const list = document.querySelectorAll('.pref')
      //const cat = Object.values(list).map(x => x.innerHTML)
      //console.log(cat)
      axios.post('/edit/addTag', { categories: newTag.innerHTML }).then(response => {
        console.log(response.data)
      }).catch(err => console.log(err))
    }
  }
  document.querySelectorAll('.pref').forEach(x => {
    //var elem = document.querySelector('#some-element');
    x.addEventListener('click', () => {
      console.log(x.innerHTML)
      x.parentNode.removeChild(x);
      axios.post('/edit/removeTag', { categories: x.innerHTML }).then(response => {
        console.log(response.data)
      }).catch(err => console.log(err))
    })
  })
</script>

