body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.pref {
  padding: 6px;
  border-radius: 8px;
  border: solid 2px lightblue;
  cursor: pointer; }

.tag-cloud {
  width: 100vw;
  display: flex;
  flex-direction: row; }

.edit-profile-containers {
  margin-bottom: 50px; }

.particle {
  position: absolute;
  border-radius: 50%; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(53vw, 4vh, 26px); } }

.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.51;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(18vw, 30vh, 36px);
  background: #41d926; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(33vw, 78vh, 63px); } }

.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  animation-delay: -0.4s;
  transform: translate3d(79vw, 4vh, 89px);
  background: #26d9c7; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(19vw, 71vh, 40px); } }

.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.98;
  height: 8px;
  width: 8px;
  animation-delay: -0.6s;
  transform: translate3d(11vw, 52vh, 86px);
  background: #7ad926; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(88vw, 74vh, 75px); } }

.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.65;
  height: 7px;
  width: 7px;
  animation-delay: -0.8s;
  transform: translate3d(90vw, 77vh, 1px);
  background: #6826d9; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(56vw, 17vh, 25px); } }

.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(11vw, 35vh, 80px);
  background: #41d926; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(6vw, 70vh, 96px); } }

.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.62;
  height: 10px;
  width: 10px;
  animation-delay: -1.2s;
  transform: translate3d(1vw, 59vh, 39px);
  background: #be26d9; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(38vw, 76vh, 23px); } }

.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.92;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(24vw, 17vh, 10px);
  background: #d92680; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(66vw, 30vh, 5px); } }

.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 1;
  height: 10px;
  width: 10px;
  animation-delay: -1.6s;
  transform: translate3d(12vw, 80vh, 97px);
  background: #9a26d9; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(19vw, 23vh, 45px); } }

.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.43;
  height: 9px;
  width: 9px;
  animation-delay: -1.8s;
  transform: translate3d(53vw, 23vh, 84px);
  background: #26d9ca; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(62vw, 13vh, 18px); } }

.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.75;
  height: 6px;
  width: 6px;
  animation-delay: -2s;
  transform: translate3d(59vw, 47vh, 54px);
  background: #d97426; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(86vw, 36vh, 87px); } }

.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.23;
  height: 6px;
  width: 6px;
  animation-delay: -2.2s;
  transform: translate3d(24vw, 31vh, 56px);
  background: #26acd9; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(44vw, 14vh, 57px); } }

.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.08;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(38vw, 42vh, 16px);
  background: #c126d9; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(79vw, 76vh, 4px); } }

.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.99;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(6vw, 4vh, 29px);
  background: #d92644; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(64vw, 43vh, 55px); } }

.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.52;
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(17vw, 83vh, 18px);
  background: #9d26d9; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(87vw, 47vh, 56px); } }

.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.7;
  height: 9px;
  width: 9px;
  animation-delay: -3s;
  transform: translate3d(30vw, 40vh, 90px);
  background: #d92697; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(76vw, 81vh, 84px); } }

.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.34;
  height: 7px;
  width: 7px;
  animation-delay: -3.2s;
  transform: translate3d(7vw, 31vh, 86px);
  background: #d92674; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(24vw, 10vh, 84px); } }

.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.88;
  height: 8px;
  width: 8px;
  animation-delay: -3.4s;
  transform: translate3d(24vw, 49vh, 12px);
  background: #26a0d9; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(85vw, 84vh, 46px); } }

.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.6;
  height: 9px;
  width: 9px;
  animation-delay: -3.6s;
  transform: translate3d(30vw, 87vh, 61px);
  background: #d94d26; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(49vw, 22vh, 31px); } }

.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.07;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(22vw, 40vh, 97px);
  background: #6226d9; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(37vw, 66vh, 86px); } }

.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.16;
  height: 10px;
  width: 10px;
  animation-delay: -4s;
  transform: translate3d(56vw, 59vh, 61px);
  background: #26d99a; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(63vw, 75vh, 2px); } }

.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.07;
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(76vw, 68vh, 59px);
  background: #2671d9; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(49vw, 17vh, 50px); } }

.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.08;
  height: 10px;
  width: 10px;
  animation-delay: -4.4s;
  transform: translate3d(37vw, 74vh, 24px);
  background: #b2d926; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(70vw, 86vh, 76px); } }

.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.61;
  height: 8px;
  width: 8px;
  animation-delay: -4.6s;
  transform: translate3d(69vw, 53vh, 93px);
  background: #d9af26; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(7vw, 74vh, 16px); } }

.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.06;
  height: 8px;
  width: 8px;
  animation-delay: -4.8s;
  transform: translate3d(49vw, 54vh, 81px);
  background: #d9266e; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(53vw, 86vh, 65px); } }

.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.87;
  height: 10px;
  width: 10px;
  animation-delay: -5s;
  transform: translate3d(49vw, 75vh, 94px);
  background: #26c4d9; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(10vw, 72vh, 14px); } }

.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.39;
  height: 9px;
  width: 9px;
  animation-delay: -5.2s;
  transform: translate3d(14vw, 36vh, 74px);
  background: #d93b26; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(42vw, 60vh, 22px); } }

.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.3;
  height: 9px;
  width: 9px;
  animation-delay: -5.4s;
  transform: translate3d(56vw, 71vh, 30px);
  background: #d326d9; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(34vw, 41vh, 72px); } }

.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.63;
  height: 8px;
  width: 8px;
  animation-delay: -5.6s;
  transform: translate3d(8vw, 24vh, 35px);
  background: #d92626; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(15vw, 41vh, 87px); } }

.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.14;
  height: 9px;
  width: 9px;
  animation-delay: -5.8s;
  transform: translate3d(49vw, 62vh, 42px);
  background: #4126d9; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(18vw, 31vh, 80px); } }

.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.06;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(65vw, 22vh, 79px);
  background: #d92647; }

h2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.5rem;
  margin-right: 4em; }

h4 {
  display: flex;
  justify-content: flex-end;
  margin-right: 5.3em; }

.netzImage {
  width: 200px;
  height: 120px; }

.netzImage img {
  width: 100%;
  height: auto; }

.nav-bar {
  background-color: aquamarine;
  margin: 0;
  height: 12vh;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .nav-bar input {
    background-color: red !important;
    border: none; }

.name {
  padding: 20px; }

.name input {
  background-color: #ffffff; }

.loginBtn {
  margin-top: 0.9rem;
  padding: 1.5rem; }

.signUp {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.signInputs {
  padding: 0 8rem;
  align-items: space-between; }

#formHP {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #formHP input {
    width: 80%;
    padding: 5px 10px; }
  #formHP div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 0; }
    #formHP div input {
      width: 100%;
      background-color: white;
      color: black;
      border: 0.2px solid black; }
  #formHP .bestButtonEver {
    margin: 0;
    padding: 0;
    width: 80%; }

/*# sourceMappingURL=style.css.map */