* {
  margin: 0;
  padding: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.pref {
  padding: 6px;
  border-radius: 8px;
  border: solid 2px lightblue;
  cursor: pointer; }

.tag-cloud {
  width: 100vw;
  display: flex;
  flex-direction: row; }

.edit-profile-containers {
  margin-bottom: 50px;
  margin: 10% 40%; }

.particle {
  position: absolute;
  border-radius: 50%; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(26vw, 36vh, 37px); } }

.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.33;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(10vw, 10vh, 70px);
  background: #26b5d9; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(36vw, 8vh, 95px); } }

.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.38;
  height: 9px;
  width: 9px;
  animation-delay: -0.4s;
  transform: translate3d(82vw, 57vh, 60px);
  background: #2638d9; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(54vw, 81vh, 31px); } }

.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.71;
  height: 7px;
  width: 7px;
  animation-delay: -0.6s;
  transform: translate3d(84vw, 2vh, 39px);
  background: #2635d9; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(3vw, 78vh, 65px); } }

.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.75;
  height: 6px;
  width: 6px;
  animation-delay: -0.8s;
  transform: translate3d(35vw, 85vh, 100px);
  background: #2cd926; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(38vw, 26vh, 39px); } }

.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(17vw, 6vh, 62px);
  background: #26d9c4; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(31vw, 32vh, 81px); } }

.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.72;
  height: 10px;
  width: 10px;
  animation-delay: -1.2s;
  transform: translate3d(52vw, 73vh, 3px);
  background: #26d9af; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(36vw, 42vh, 84px); } }

.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.13;
  height: 7px;
  width: 7px;
  animation-delay: -1.4s;
  transform: translate3d(28vw, 86vh, 85px);
  background: #26b5d9; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(88vw, 13vh, 96px); } }

.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.13;
  height: 6px;
  width: 6px;
  animation-delay: -1.6s;
  transform: translate3d(26vw, 35vh, 43px);
  background: #d926c1; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(47vw, 87vh, 47px); } }

.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.1;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(38vw, 23vh, 67px);
  background: #d9d026; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(83vw, 45vh, 89px); } }

.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.91;
  height: 9px;
  width: 9px;
  animation-delay: -2s;
  transform: translate3d(50vw, 54vh, 12px);
  background: #d94426; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(55vw, 65vh, 44px); } }

.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.65;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(72vw, 78vh, 82px);
  background: #d94726; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(80vw, 62vh, 34px); } }

.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.05;
  height: 7px;
  width: 7px;
  animation-delay: -2.4s;
  transform: translate3d(47vw, 12vh, 72px);
  background: #5cd926; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(69vw, 36vh, 26px); } }

.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.35;
  height: 6px;
  width: 6px;
  animation-delay: -2.6s;
  transform: translate3d(43vw, 22vh, 5px);
  background: #d99126; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(26vw, 2vh, 42px); } }

.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.79;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(31vw, 41vh, 29px);
  background: #44d926; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(40vw, 50vh, 68px); } }

.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.69;
  height: 6px;
  width: 6px;
  animation-delay: -3s;
  transform: translate3d(73vw, 82vh, 32px);
  background: #d9bb26; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(85vw, 2vh, 33px); } }

.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.74;
  height: 8px;
  width: 8px;
  animation-delay: -3.2s;
  transform: translate3d(48vw, 48vh, 34px);
  background: #26d9ca; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(52vw, 16vh, 92px); } }

.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.61;
  height: 10px;
  width: 10px;
  animation-delay: -3.4s;
  transform: translate3d(51vw, 17vh, 82px);
  background: #50d926; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(76vw, 10vh, 34px); } }

.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.46;
  height: 9px;
  width: 9px;
  animation-delay: -3.6s;
  transform: translate3d(79vw, 69vh, 76px);
  background: #d9266b; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(43vw, 51vh, 83px); } }

.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.35;
  height: 9px;
  width: 9px;
  animation-delay: -3.8s;
  transform: translate3d(18vw, 81vh, 75px);
  background: #a926d9; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(19vw, 5vh, 80px); } }

.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.59;
  height: 10px;
  width: 10px;
  animation-delay: -4s;
  transform: translate3d(83vw, 31vh, 72px);
  background: #8ed926; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(39vw, 60vh, 76px); } }

.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.73;
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(63vw, 4vh, 39px);
  background: #3826d9; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(10vw, 11vh, 3px); } }

.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.32;
  height: 8px;
  width: 8px;
  animation-delay: -4.4s;
  transform: translate3d(60vw, 7vh, 48px);
  background: #26d947; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(42vw, 86vh, 98px); } }

.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.51;
  height: 8px;
  width: 8px;
  animation-delay: -4.6s;
  transform: translate3d(9vw, 84vh, 41px);
  background: #268bd9; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(25vw, 5vh, 15px); } }

.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.03;
  height: 10px;
  width: 10px;
  animation-delay: -4.8s;
  transform: translate3d(81vw, 87vh, 59px);
  background: #d9a926; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(34vw, 50vh, 84px); } }

.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  animation-delay: -5s;
  transform: translate3d(53vw, 90vh, 32px);
  background: #2926d9; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(82vw, 48vh, 1px); } }

.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.93;
  height: 7px;
  width: 7px;
  animation-delay: -5.2s;
  transform: translate3d(10vw, 78vh, 97px);
  background: #26d9c4; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(8vw, 18vh, 20px); } }

.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.63;
  height: 8px;
  width: 8px;
  animation-delay: -5.4s;
  transform: translate3d(81vw, 86vh, 98px);
  background: #65d926; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(57vw, 79vh, 47px); } }

.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.27;
  height: 10px;
  width: 10px;
  animation-delay: -5.6s;
  transform: translate3d(76vw, 67vh, 5px);
  background: #d93b26; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(23vw, 18vh, 45px); } }

.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(73vw, 85vh, 63px);
  background: #d96b26; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(81vw, 51vh, 15px); } }

.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  animation-delay: -6s;
  transform: translate3d(30vw, 87vh, 49px);
  background: #d926a9; }

.bg {
  background-image: url(/images/netzright.png); }

/*# sourceMappingURL=style.css.map */